input {  
    kafka {
        bootstrap_servers => "kafka1:29091,kafka2:29092,kafka3:29093"
		codec => "json"
		group_id => "voms-logstash"
        topics => "remote_file_transfer_history"
		auto_offset_reset => "earliest"
    }
}

output {        
	elasticsearch {
		hosts => ["elasticsearch:9200"]
        index => "remote_file_transfer_history"	
		document_id => "%{id}"
    }
}
