input {  
    kafka {
        bootstrap_servers => "kafka:29092"
		codec => "json"
		group_id => "voms-logstash"
        topics => "user_notification_email_history"
		auto_offset_reset => "earliest"
    }
}

output {        
	elasticsearch {
        hosts => "elasticsearch:9200"
        index => "user_notification_email_history"	
		document_id => "%{id}"
    }
}
